.chat-bar {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.textarea-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}

.textarea-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    resize: none;
}

.send-button {
    padding: 10px 20px;
    background-color: #0c9b18;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #45c059;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
}


.btn-primary {
    background-color: #0c9b18;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #97c29b;
  }
  
  .btn-primary:disabled {
    opacity: 0.5;
  }
  