<div class="emoji-picker">
  <span (click)="addEmoji('😊')">😊</span>
  <span (click)="addEmoji('👍')">👍</span>
  <span (click)="addEmoji('😂')">😂</span>
  <span (click)="addEmoji('😎')">😎</span>
  <span (click)="addEmoji('🎉')">🎉</span>
  <span (click)="addEmoji('❤️')">❤️</span>
  <span (click)="addEmoji('😄')">😄</span>
  <span (click)="addEmoji('😜')">😜</span>
  <span (click)="addEmoji('🤗')">🤗</span>



</div> 
<textarea
  class="form-control"
  rows="2"
  placeholder="Nachricht eingeben"
  [(ngModel)]="chatMessage"
  (keyup.enter)="addMessage(chatMessage)"
></textarea>
<button
  class="btn btn-primary"
  [disabled]="!chatMessage.trim() || !nickname || saving"
  (click)="addMessage(chatMessage)"
>
  abschicken
</button>
<div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>